# /usr/bin/env python3
# -*- coding: UTF-8 -*-


"""

Author: samzong.lu
E-mail: samzong.lu@gmail.com

"""


class Config(object):
    WEBLATE_API_URL = "https:weblate.org/api"
    WEBLATE_API_TOKEN = "Token $uToken"


class DaoConfig(Config):
    WEBLATE_API_URL = "https:weblate.org/api"
    WEBLATE_API_TOKEN = "Token $uToken"


class ProjectConfig(Config):
    project_slug = 'project_slug'
    repo = 'weblate://project_slug/component_slug'
    filemask_pre = 'src/locales/*/'
    new_base_pre = 'src/locales/zh-CN/'
    dir_path = '/project_slug/src/locales/zh-CN/'
