<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weblate Homepage</title>
</head>
<style type="text/css">
    table {
        font-family: verdana, arial, sans-serif;
        font-size: 15px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        margin: 0 auto;
    }

    table th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        color: #0099FF;
        font-size: 14px;
    }

    table td {
        border-width: 1px;
        padding: 8px;
        width: 200px;
        border-style: solid;
        border-color: #666666;
        background-color: #FFFFFF;
        color: black;
        font-size: 14px;
        text-align: center;
    }
</style>
<body>

<h1 style="text-align: center;">DCE5 前端翻译进度</h1>
<table>
    <tr>
        <th>Project</th>
        <th>Project Id</th>
        <th>Translate Badges</th>
        <th>Git repo</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>Skoala-ui</td>
        <td>1120</td>
        <td>
            <a href="http://10.6.229.10:8080/engage/skoala-ui/">
                <img src="http://10.6.229.10:8080/widgets/skoala-ui/-/svg-badge.svg" alt="翻译状态"/>
            </a>
        </td>
        <td>
            <a href="https://gitlab.daocloud.cn/ndx/frontend-engineering/skoala-ui/">GitLab Repo</a>
        </td>
        <td>
            <a href="http://127.0.0.1:8000/project_info/1120"><button>0.项目信息</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_branch/1120"><button>1.Git 增加 Weblate 分支</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_wb_project/1120"><button>2. 创建 Weblate 项目</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_common_component/1120"><button>3. 创建 Common 部件</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/clone_project/1120"><button>4. Clone 项目到本地</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_all_components/1120"><button>5. 创建全部部件</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/remove_clone_file/1120"><button>6. 移除 Clone 项目</button></a>
        </td>
    </tr>
    <tr>
        <td>Kairship-ui</td>
        <td>1585</td>
        <td>
            <a href="http://10.6.229.10:8080/engage/kairship-ui/">
                <img src="http://10.6.229.10:8080/widgets/kairship-ui/-/svg-badge.svg" alt="翻译状态"/>
            </a>
        </td>
        <td>
            <a href="https://gitlab.daocloud.cn/ndx/frontend-engineering/kairship-ui/">GitLab Repo</a>
        </td>
        <td>
            <a href="http://127.0.0.1:8000/project_info/1585"><button>0.项目信息</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_branch/1585"><button>1.Git 增加 Weblate 分支</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_wb_project/1585"><button>2. 创建 Weblate 项目</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_common_component/1585"><button>3. 创建 Common 部件</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/clone_project/1585"><button>4. Clone 项目到本地</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_all_components/1585"><button>5. 创建全部部件</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/remove_clone_file/1585"><button>6. 移除 Clone 项目</button></a>
        </td>
    </tr>
    <tr>
        <td>mcamel-mysql-ui</td>
        <td>1608</td>
        <td>
            <a href="http://10.6.229.10:8080/engage/mcamel-mysql-ui/">
                <img src="http://10.6.229.10:8080/widgets/mcamel-mysql-ui/-/svg-badge.svg" alt="翻译状态"/>
            </a>
        </td>
        <td>
            <a href="https://gitlab.daocloud.cn/ndx/frontend-engineering/mcamel/mcamel-mysql-ui/">GitLab Repo</a>
        </td>
        <td>
            <a href="http://127.0.0.1:8000/project_info/1608"><button>0.项目信息</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_branch/1608"><button>1.Git 增加 Weblate 分支</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_wb_project/1608"><button>2. 创建 Weblate 项目</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_common_component/1608"><button>3. 创建 Common 部件</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/clone_project/1608"><button>4. Clone 项目到本地</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/create_all_components/1608"><button>5. 创建全部部件</button></a><br />
            <a href="http://127.0.0.1:8000/project_info/remove_clone_file/1608"><button>6. 移除 Clone 项目</button></a>
        </td>
    </tr>
</table>
</body>
</html>